.loadingButton, .loadingButton:hover {
    @apply bg-main-blue-700;
    font-weight: bold;
    border-color: white;
    color: white;
    cursor: progress;
    margin-top: 1rem;
    width: 100%;
    border-radius: 0.7rem;
    padding: 0.8rem;
}

.sendPaymentButton {
    @apply btn btn-primary bg-main-blue-400 hover:bg-main-blue-200 text-main-blue-950 text-lg font-bold border-main-blue-800;
    margin-top: 1rem;
}

.disabledSendPaymentButton {
    @apply btn btn-primary bg-main-blue-200 text-main-blue-400 font-bold text-lg border-main-blue-800;
    margin-top: 1rem;
    pointer-events: none;
}

.cancelPaymentButton{
    text-decoration: underline;
    text-underline-offset: 0.2rem;
}