@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-blue-50: #f1f8fe;
  --main-blue-100: #e2f0fc;
  --main-blue-200: #bfe0f8;
  --main-blue-300: #87c7f2;
  --main-blue-400: #53b0ea;
  --main-blue-500: #2090d7;
  --main-blue-600: #1272b7;
  --main-blue-700: #105b94;
  --main-blue-800: #114e7b;
  --main-blue-900: #144266;
  --main-blue-950: #0d2a44;
}

body {
  background-image: linear-gradient(to right bottom, #136da8, #0b5e99, #072e4d, #0b395c, #1272b7);
  color: white;
}
