.form {
  @apply place-items-center;
  display: flex;
  flex-direction: column;
  width: 75%;
  max-height: 100vh;
}

.submitButton {
  @apply btn btn-wide bg-main-blue-700 text-white hover:bg-main-blue-800;
}

.optionalTitle {
  font-size: large;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.signUptitle {
  margin-bottom: 1.5rem;
  font-size: xx-large;
}

@media (max-width: 640px) {
  .form {
    width: 100%;
  }
}
